@using Microsoft.AspNetCore
@using Microsoft.AspNetCore.Identity
@using ToyStoreWebAppMVC.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link text-danger" href="#" data-toggle="dropdown"><i class="fas fa-cogs mr-2"></i><strong>Tables</strong></a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Toy" asp-action="Index"><i class="fas fa-box mr-2 text-info"></i>Toys</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="UserOrder" asp-action="Index"><i class="fas fa-users mr-2 text-info"></i>User Orders</a>
        </div>
    </li>
}
