@model int

<a asp-area="Admin" asp-controller="Toy" asp-action="Edit" asp-route-id="@Model" class="text-info mr-2"><i class="fas fa-edit"></i></a>
<a asp-area="Admin" asp-controller="Toy" asp-action="Details" asp-route-id="@Model" class="text-dark mr-2"><i class="fas fa-table"></i></a>
<a asp-area="Admin" asp-controller="Toy" asp-action="Delete" asp-route-id="@Model" class="text-danger mr-2"><i class="fas fa-trash-alt"></i></a>