@model IEnumerable<Toy>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Toy</h4>
    <hr />

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Color
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Home" asp-area="" asp-action="Index" class="btn btn-outline-info mr-2">Go To Home</a>
    <a asp-controller="UserOrder" asp-area="Admin" asp-action="Index" class="btn btn-outline-info mr-2">Go To Table</a>
</div>
